a:visited {
  color: #fff5ea;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a {
  color: rgb(145, 117, 93);
  text-decoration: none;
}

:root {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
}
