.navBar {
  background-color: #c8b6a6;
  height: 6rem;
}

.navBarElements {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
  line-height: 6rem;
}

.navBar a:visited {
  color: #fff5ea;
  text-decoration: none;
}

.navBar a:hover,
.navBar a:active {
  text-decoration: underline;
}

.navBar a {
  color: rgb(145, 117, 93);
  text-decoration: none;
}
